<div class="row justify-content-center mb-3">
    <div class="col-10">
        <div class="row m-0 justify-content-between">
            <div class="col-2">
                <h2>USUARIOS</h2>
            </div>
            <div class="col-2 float-right">
                <button class="col btn btn-success text-white">
                    <i class="fas fa-user-plus mr-2"></i>ADICIONAR
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <table class="table table-striped">
            <thead>
                <tr class="text-uppercase">
                    <th scope="col">#</th>
                    <th scope="col">nome</th>
                    <th scope="col">telefone</th>
                    <th scope="col">email</th>
                    <th scope="col">data</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of usuarios; let i=index">
                    <th scope="row">1</th>
                    <td>{{ u.nome }}</td>
                    <td>{{ u.telefone }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.data }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>